#gitignore file for the Mentor_ICT_Generator repository

# skip the /.idea directory
# this is IntelliJ IDEA IDE development files
.idea/*

# skip everything in /out directory
out/*
!out/production/ICT_Generator/ICT_Generator/*
!out/artifacts/ICT_Generator_jar/*

# skip everything in /src directory
src/*

# Do not apply the exception rules to the source code files!
!*.java